
<ul class="list-unstyled hospital-list">
  <% @maternities.each do |maternity| %>
    <li class="hospital-item">
      <a href="<%= frontend_maternity_path(maternity) %>">
        <img src="<%= fixed_image_url(maternity) %>" class="hospital-avatar" alt=""/>
        <div class="hospital-info">
          <div class="title"><%= maternity.name %></div>
          <p class="grade">
            <% maternity.star.times do |s| %>
              <%= image_tag "static_pages/icon_star_selected.png", class: "start" %>
            <% end %>
          </p>
          <p class="distance">距离： <%= get_disance_by_poinit_point(maternity.location) if maternity.location%>千米</p>
        </div>
      </a>
    </li>
  <% end %>
</ul>
<%= paginate @maternities %>
