<div class="app-header">
  <nav class="navbar navbar-default custom-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/">
          <%= image_tag "users/title_icon_back_normal.png" %>
        </a>
        <a href="#" >母婴会馆</a>
        <a href="/searches" >查询</a>
      </div>
    </div>
  </nav>
</div>

<%= render "filter" %>

<div class="maternity-list-content">
  <ul class="list-unstyled maternity-list">
    <% @maternities.each do |maternity| %>
      <li class="maternity-item">
        <a href="<%= frontend_maternity_path(maternity) %>">
          <img src="<%= fixed_image_url(maternity) %>" class="maternity-avatar" alt=""/>
          <div class="maternity-info">
            <div class="title"><%= maternity.name %></div>
            <p class="grade">
              <% maternity.star.times do |s| %>
                <%= image_tag "static_pages/icon_star_selected.png", class: "start" %>
              <% end %>
              <%= maternity.star %>分
            </p>
            <p class="distance">距离：
              <% if params[:sort_type] == 'neighbour' %>
                <%= get_distance_by_coordinates(maternity.geo_near_distance) %>
              <% else %>
                <%= get_disance_by_poinit_point(maternity.location) if maternity.location%>
              <% end %>
            千米</p>
            <p><%= maternity.summary %></p>
            <div class="statistics">
              <p><%= maternity.comments.count %> 人评价</p>
              <p><%= maternity.commodities.count %> 人购买</p>
            </div>
            <!-- <p class="distance">距离： <%#= get_disance_by_poinit_point(maternity.location) if maternity.location%>千米</p> -->
            <p class="price">￥<%= maternity.price %></p>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
  <div class="spinner"></div>
  <%#= paginate @maternities %>
</div>

<script type="text/javascript">
  var page = 2;
  var stop = false;
  $(window).scroll(function () {
    if($(document).height() <= ($(window).scrollTop() + $(window).height()) + 60) {
      if(stop == false){
        stop = true;
        $(".spinner").show();
        var search = window.location.search;
        if(search){
          url = "/maternities" + search + "&page=" + page;
        } else {
          url = "/maternities?page=" + page;
        }
        $.get(url, function(data){
          $html = $(data).find(".maternity-list").html();
          $(".maternity-list").append($html);
          page = page + 1;
          stop =false;
          $(".spinner").hide();
        });
      }
    }
  });
</script>

