<%= render "/frontend/common/nav", { title: "位置" } %>

<div class="content-wrapper">
  <div class="cities">
    <div class="search">
      <div class="form-group">
        <span class="glyphicon glyphicon-search"></span>
        <input type="text" id="city" class="form-control" placeholder="其他">
      </div>
    </div>

    <div class="result"></div>

    <div class="group">
      <div class="current show">
        <div>
          当前：<span id="current_city"></span>
          <a id="switch-btn" href="javascript:void(0);">
            切换区县<span class="glyphicon glyphicon-menu-down"></span>
          </a>
        </div>

        <div class="sub-area" id="sub_area">
        </div>
      </div>

      <div name="position" class="position">
        <p class="title">当前定位城市</p>
        <div class="city-label" id="city_label"></div>
      </div>

      <div name="often" class="often-use">
        <p class="title">最近访问的城市</p>
        <div class="city-label">上海市</div>
        <div class="city-label">北京市</div>
        <div class="city-label">深圳市</div>
      </div>

      <div name="hot" class="hot">
        <p class="title">热门城市</p>
        <% @hot_cities.each do |city| %>
          <div class="city-label">
            <%= city.name %>
          </div>
        <% end %>
      </div>

      <div class="alphabet">
        <% @all_cities.each_pair do |k, cities|%>
          <div name="<%= k %>" class="title"><%= k %></div>
          <% cities.each do |city|%>
            <div class="item"><%= city %></div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="right-nav">
      <a class="item" data-target="position">定位</a>
      <a class="item" data-target="often">最近</a>
      <a class="item" data-target="hot">热门</a>
    </div>
  </div>
</div>
<div id="container"></div>
<script type="text/javascript">
  (function($){

    (function initRightNav(){
      /**
       * init right alphabet nav
       */
      var alphabetArr = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split('');

      var $nav = $(".right-nav");
      alphabetArr.forEach(function(item){
        var $item = $('<a class="item"></a>')
        $item.data('target', item);
        $item.text(item);
        $item.appendTo($nav);
      });

      var $items = $nav.children();
      $items.on('click', function() {
        var targetName = $(this).data('target');
        var $target = $("[name=" + targetName + "]");
        if($target.length !== 0) {
          $('html, body').stop().animate({
            scrollTop: $target.offset().top - 60
          }, 500);
        }
      });
    })();


    var timer = null;

    $('#city').on('input', function(event) {
      event.preventDefault();
      var $result = $('.result');
      $('.result').empty();
      var keyword = $(this).val();
      if(!!timer) {
        clearTimeout(timer);
        timer = null;
      }
      var $group = $('.group');
      if(!keyword) {
        $group.show();
      } else {
        $group.hide();
        timer = setTimeout(function(){

          $.get("/cities/cities_search",{
            query: keyword
          },function(response){
            if(response.data.length === 0){
              $('<div class="not-result">抱歉, 未找到相关位置, 可修改后重试</div>').appendTo($result);
            } else {
              $.each(response.data, function(index, val) {
                val = val.split(keyword).join('<span>' + keyword + '</span>');
                var $item = $('<div class="item"></div>');
                $item.html(val);
                $item.appendTo($result);
              });
            }
          });
        }, 500);
      }
    });

    $('.item').click(function(e){
      var selected_city = e.target.textContent;

      sessionStorage.setItem('selected_city', selected_city);

      $("#current_city").text(sessionStorage.getItem('selected_city'));
      $("#city_label").text(sessionStorage.getItem('selected_city'));

      $.get('/cities/get_counties_by_city_name',{
        city_name: selected_city
      },function(data){
        $("#sub_area").html('');
        data.data.forEach(function(e){
          $("#sub_area").append('<div class="city-label">'+e+'</div>')
        })
      })
    })

    $('.city-label').click(function(e){
      var selected_city = e.target.textContent;

      sessionStorage.setItem('selected_city', selected_city);

      $("#current_city").text(sessionStorage.getItem('selected_city'));
      $("#city_label").text(sessionStorage.getItem('selected_city'));

      $.get('/cities/get_counties_by_city_name',{
        city_name: selected_city
      },function(data){
        $("#sub_area").html('');
        data.data.forEach(function(e){
          $("#sub_area").append('<div class="city-label">'+e+'</div>')
        })
      })
    })
    
    

    var $swichTab = $('.sub-area');
    /**
     *  切换市区显示
     */
    $('#switch-btn').on('click', function(event) {
      event.preventDefault();
      $swichTab.stop().slideToggle()
      $(this).parents('.current').toggleClass('show');
    });

    var cityinfo = "";
    mapObj = new AMap.Map('container');
    mapObj.plugin('AMap.Geolocation', function() {
      geolocation = new AMap.Geolocation({
        enableHighAccuracy: true,//是否使用高精度定位，默认:true
        timeout: 10000,          //超过10秒后停止定位，默认：无穷大
        buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
        zoomToAccuracy: true,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
        buttonPosition:'RB'
      });
      mapObj.addControl(geolocation);
      geolocation.getCurrentPosition();
      AMap.event.addListener(geolocation, 'complete', onComplete);//返回定位信息
      AMap.event.addListener(geolocation, 'error', onError);      //返回定位出错信息
    });

    var citysearch = new AMap.CitySearch();
      //自动获取用户IP，返回当前城市
      citysearch.getLocalCity(function(status, result) {
          if (status === 'complete' && result.info === 'OK') {
              if (result && result.city && result.bounds) {
                  cityinfo = result.city;
              }
          } else {
              document.getElementById('tip').innerHTML = result.info;
          }
      });

    function onComplete(data) {
      sessionStorage.setItem('current_city', cityinfo);

      var true_city = "";
      var selected_city = sessionStorage.getItem('selected_city');
      if(selected_city){
        $("#current_city").text(sessionStorage.getItem('selected_city'));
        $("#city_label").text(sessionStorage.getItem('selected_city'));

        true_city = selected_city;
      }else{
        true_city = sessionStorage.getItem('current_city')
      }

      $.get('/cities/get_counties_by_city_name',{
        city_name: true_city
      },function(data){
        data.data.forEach(function(e){
          $("#sub_area").append('<div class="city-label">'+e+'</div>')
        })
      })
    }

    function onError(data){
    }
  })(jQuery);
</script>