<div class="filter">
  <ul class="list-unstyled filter-type">
    <li>
      <a href="">
        综合医院
      <%= image_tag "static_pages/filter_icon_down.png", class: "filter-icon-down" %>
      <%= image_tag "static_pages/filter_icon_up.png", class: "filter-icon-up" %>
      </a>
    </li>
    <li>
      <a href="">
        全城
        <%= image_tag "static_pages/filter_icon_down.png", class: "filter-icon-down" %>
        <%= image_tag "static_pages/filter_icon_up.png", class: "filter-icon-up" %>
      </a>
    </li>
    <li>
      <a href="">
        智能排序
        <%= image_tag "static_pages/filter_icon_down.png", class: "filter-icon-down" %>
        <%= image_tag "static_pages/filter_icon_up.png", class: "filter-icon-up" %>
      </a>
    </li>
    <li>
      <a href="">
        筛选
        <%= image_tag "static_pages/filter_icon_down.png", class: "filter-icon-down" %>
        <%= image_tag "static_pages/filter_icon_up.png", class: "filter-icon-up" %>
      </a>
    </li>
  </ul>
  <ul class="list-unstyled intelligent-order" style="display: none">
    <li><a href="">智能排序</a></li>
    <li><a href="">最新发布</a></li>
    <li><a href="">人气最高</a></li>
    <li><a href="">评价最高</a></li>
    <li><a href="">价格最高</a></li>
  </ul>

  <ul class="list-unstyled general-hospital" style="display: none">
    <li><a href="">全部医院</a></li>
    <li><a href="">综合医院</a></li>
    <li><a href="">体检机构</a></li>
    <li><a href="">整形医院</a></li>
    <li><a href="">牙科医院</a></li>
    <li><a href="">男科医院</a></li>
    <li><a href="">妇幼医院</a></li>
    <li><a href="">中医院</a></li>
    <li>
      <ul class="hospital-categories">
        <li><a href="">全部医院</a></li>
        <li><a href="">三级甲等</a></li>
        <li><a href="">三级乙等</a></li>
        <li><a href="">三级合格</a></li>
        <li><a href="">二级甲等</a></li>
        <li><a href="">二级乙等</a></li>
        <li><a href="">二级合格</a></li>
        <li><a href="">一级甲等</a></li>
      </ul>
    </li>
  </ul>

  <ul class="list-unstyled others-conditions">
    <li>
      手机挂号
      <%= image_tag "static_pages/filter_slider_normal.png", class: "toggle" %>
    </li>
    <li>
      返利优惠
       <%= image_tag "static_pages/filter_slider_pressed.png", class: "toggle" %>
    </li>
    <li>
      <p>当前主题精选</p>
      <ul class="list-unstyled subject-list">
        <li><button class="btn btn-default">不限</button> </li>
        <li><button class="btn btn-default">医保定点医院</button></li>
        <li><button class="btn btn-default">网上挂号/咨询</button></li>
        <li><button class="btn btn-default">手机挂号/咨询</button></li>
        <li><button class="btn btn-default">电话预约/咨询</button></li>
        <li><button class="btn btn-default">字母</button></li>
      </ul>
    </li>
    <li>
      <div>
        <span class="reset">重置</span>
        <span class="done">完成</span>
      </div>
    </li>
  </ul>
</div>
