<div class="app-header">
  <nav class="navbar navbar-default custom-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#">
          <%= image_tag "users/title_icon_back_normal.png" %>
        </a>
        <a href="#" >综合医院</a>
      </div>
    </div>
  </nav>
</div>

<div class="hospital-list-content">
  <ul class="list-unstyled hospital-list">
    <li class="hospital-item">
      <a href="#">
        <img src="http://lorempixel.com/105/105/animals/1" class="hospital-avatar" alt=""/>
        <div class="hospital-info">
          <div class="title">安徽合肥治疗白癜风专科医院</div>
          <p class="grade">
            <%= image_tag "static_pages/icon_star_selected.png", class: "start" %>
            <%= image_tag "static_pages/icon_star_selected.png", class: "start" %>
            <%= image_tag "static_pages/icon_star_selected.png", class: "start" %>
            <%= image_tag "static_pages/icon_star_selected.png", class: "start" %>
            4分
          </p>
          <p class="distance">距离： 1.0千米</p>
          <p class="peculiarity">
            特色科室：
            <span>皮肤科</span>
            <span>皮肤科</span>
            <span>皮肤科</span>
          </p>
          <p class="tel">电话： 0551-654922</p>
        </div>
      </a>
    </li>
    <li class="hospital-item">
      <a href="#">
        <img src="http://lorempixel.com/105/105/animals/1" class="hospital-avatar"  alt=""/>
        <div class="hospital-info">
          <div class="title">安徽合肥治疗白癜风专科医院</div>
          <p class="grade">
            <%= image_tag "static_pages/icon_star_selected.png", class: "start" %>
            <%= image_tag "static_pages/icon_star_selected.png", class: "start" %>
            <%= image_tag "static_pages/icon_star_selected.png", class: "start" %>
            <%= image_tag "static_pages/icon_star_selected.png", class: "start" %>
            <%= image_tag "static_pages/icon_star_selected.png", class: "start" %>
            5 分
          </p>
          <p class="distance">距离： 1.0千米</p>
          <p class="peculiarity">
            特色科室：
            <span>皮肤科</span>
            <span>皮肤科</span>
            <span>皮肤科</span>
          </p>
          <p class="tel">电话： 0551-654922</p>
        </div>
      </a>
    </li>
  </ul>
</div>
