<%= render "/frontend/common/nav", { title: "月子中心" } %>

<%= render "filter" %>

<div class="confinement-center-list-content">
  <ul class="list-unstyled confinement-center-list">
    <% @confinement_centers.each do |confinement_center| %>
      <li class="confinement-center-item">
        <a href="<%= frontend_confinement_center_path(confinement_center) %>">
          <img src="<%= fixed_image_url(confinement_center) %>" class="confinement-center-avatar" alt=""/>
          <div class="confinement-center-info">
            <div class="title"><%= confinement_center.name %></div>
            <p class="grade">
              <% confinement_center.star.times do |s| %>
                <%= image_tag "static_pages/icon_star_selected.png", class: "start" %>
              <% end %>
              <%= confinement_center.star %>分
            </p>
            <div class="statistics">
              <p><%= confinement_center.comments.count %> 人评价</p>
              <p><%= confinement_center.commodities.count %> 人购买</p>
            </div>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
  <%= paginate @confinement_centers %>
</div>
