<%= render "/frontend/common/nav", { title: @confinement_center.name } %>

<div class="confinement-center-detail page-detail">

  <div class="confinement-center-info page-info">
    <div class="confinement-center-cover page-cover">
      <img src="<%= fixed_image_url(@confinement_center) %>">
    </div>

    <div class="buy-detail">
      <span>
        ￥<%= @confinement_center.price %>
        <!-- <small>减少6800</small> -->
      </span>
      <div class="pull-right">
        <a class="buy-btn" href="javascript:;">立即购买</a>
      </div>
    </div>

    <p class="confinement-center-name page-name"><%= @confinement_center.name %></p>
    </p>
  </div>

  <div class="confinement-center-comments page-comments">
    <p class="comments-header">
      <span>
        <% @confinement_center.star.times do |s| %>
          <%= image_tag "static_pages/icon_star_selected.png", class: "star" %>
        <% end %>
        <%= @confinement_center.star %>分
      </span>
      <span class="pull-right"><%= @confinement_center.comments.size%>人已经点评</span>
    </p>
    <% if @comment %>
      <ul class="comment-list list-unstyled">
        <li class="comment-item">
          <div class="user-info">
            <div class="comment-user-name"><%= @comment.user.try(:nickname) %></div>
            <div class="comment-time"><%= @comment.created_at.strftime("%F") %></div>
          </div>
          <div class="comment-rate pull-right">
            <% @comment.rating.times do |s| %>
              <%= image_tag "static_pages/icon_star_selected.png", class: "star" %>
            <% end %>
          </div>
          <div class="comment-content"><%= @comment.content %></div>
        </li>
      </ul>
    <% end %>
    <div class="check-all-comments">
      <a href="<%= frontend_confinement_center_comments_path(@confinement_center) %>">查看全部评价</a>
    </div>
  </div>

  <div class="comment-edit">
    <a href="<%= new_frontend_confinement_center_comment_path(@confinement_center) %>">我要评价</a>
  </div>

  <div class="join-and-correction">
    <a href="#">商家加盟以及报错更正</a>
  </div>

  <div class="confinement-center-connect page-connect">
    <h3>商家位置</h3>
    <div class="position-detail">
      <h5><%= @confinement_center.name %></h5>
      <p>联系电话<%= @confinement_center.telephone %></p>
      <p>地址：<%= @confinement_center.address %>
        <a class="pull-right" href="<%= frontend_maps_path(location: @confinement_center.location) %>">到这去</a>
      </p>
      <div class="map">
        <div id="container2"></div>
      </div>
      <div class="operating-button">
        <% if @confinement_center.telephone.present? %>
          <a href="tel:<%= @confinement_center.telephone %>15201991025">拨打电话</a>
          <a href="#">查询/挂号</a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var lng1 = parseFloat("<%= @confinement_center.location.split(',')[1] %>");
  var lat1 = parseFloat("<%= @confinement_center.location.split(',')[0] %>");
  console.log("lng1= "+lng1);
  console.log("lat1= "+lat1);
  var map = new AMap.Map('container2', {
      resizeEnable: true,
      zoom:14,
      center: [lng1, lat1],
      isHotspot: true
  });

  // 标记
  var marker = new AMap.Marker({
    position: map.getCenter()
  });
  marker.setMap(map);

</script>

<style type="text/css">
  #container2 {
    width: 100%;
    margin-top: 60px;
    height: 350px;
    bottom: 50px;
  }
</style>
