<div class="app-header">
  <nav class="navbar navbar-default custom-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/">
          <%= image_tag "users/title_icon_back_normal.png" %>
        </a>
        <a href="javascript:;">找医生</a>
        <a href="/searches" >查询</a>
      </div>
    </div>
  </nav>
</div>

<%= render "filter" %>

<div class="doctor-list-content">
  <ul class="list-unstyled doctor-list">
    <% @doctors.each do |doctor| %>
      <li class="doctor-item">
        <a href="<%= frontend_doctor_path(doctor) %>">
          <img src="<%= fixed_image_url(doctor) %>" class="doctor-avatar" alt=""/>
          <div class="doctor-info">
            <div class="title">
              <span class="doctor-name"><%= doctor.name %></span>
              <span class="position"><%= doctor.position %></span>
              <span class="grade pull-right">
                <% doctor.star.times do |s| %>
                  <%= image_tag "static_pages/icon_star_selected.png", class: "start" %>
                <% end %>
               </span>

            </div>
            <p class="peculiarity">
              科室： <%= doctor.room %>
            </p>
            <p>擅长： <span class="good-at"><%=doctor.summary %></span></p>
            <p class="hospital-name">电话： <%= doctor.hospital.name %></p>
            <p class="come-out">出诊：<%= doctor.is_home_visit ? '否' : '是' %></p>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
  <div class="spinner"></div>
  <%#= paginate @doctors %>
</div>

<script type="text/javascript">
  var page = 2;
  var stop = false;
  $(window).scroll(function () {
    if($(document).height() <= ($(window).scrollTop() + $(window).height()) + 60) {
      if(stop == false){
        stop = true;
        $(".spinner").show();
        var search = window.location.search;
        if(search){
          url = "/doctors" + search + "&page=" + page;
        } else {
          url = "/doctors?page=" + page;
        }
        $.get(url, function(data){
          $html = $(data).find(".doctor-list").html();
          $(".doctor-list").append($html);
          page = page + 1;
          stop =false;
          $(".spinner").hide();
        });
      }
    }
  });
</script>
