<div class="filter">
  <ul class="list-unstyled filter-type">
    <li class="type-item hospital-filter" data-panel="general-hospital">
      <a href="javascript:;">
        综合医院
      <%= image_tag "static_pages/filter_icon_down.png", class: "filter-icon-down" %>
      <%= image_tag "static_pages/filter_icon_up.png", class: "filter-icon-up" %>
      </a>
    </li>
    <li class="type-item city-filter">
      <a href="javascript:;">
        全城
        <%= image_tag "static_pages/filter_icon_down.png", class: "filter-icon-down" %>
        <%= image_tag "static_pages/filter_icon_up.png", class: "filter-icon-up" %>
      </a>
    </li>
    <li class="type-item intelligent-filter" data-panel="intelligent-order">
      <a href="javascript:;">
        智能排序
        <%= image_tag "static_pages/filter_icon_down.png", class: "filter-icon-down" %>
        <%= image_tag "static_pages/filter_icon_up.png", class: "filter-icon-up" %>
      </a>
    </li>
    <li class="type-item filtration" data-panel="others-conditions">
      <a href="javascript:;">
        筛选
        <%= image_tag "static_pages/filter_icon_down.png", class: "filter-icon-down" %>
        <%= image_tag "static_pages/filter_icon_up.png", class: "filter-icon-up" %>
      </a>
    </li>
  </ul>
  <ul class="list-unstyled detail-panel intelligent-order">
    <li><a href="javascript:;">智能排序</a></li>
    <li><a href="javascript:;">最新发布</a></li>
    <li><a href="javascript:;">人气最高</a></li>
    <li><a href="javascript:;">评价最高</a></li>
    <li><a href="javascript:;">价格最高</a></li>
  </ul>

  <ul class="list-unstyled detail-panel general-hospital">
    <li class="hospital-type"><a href="javascript:;">全部医院</a></li>
    <li class="hospital-type"><a href="javascript:;">综合医院</a></li>
    <li class="hospital-type"><a href="javascript:;">体检机构</a></li>
    <li class="hospital-type"><a href="javascript:;">整形医院</a></li>
    <li class="hospital-type"><a href="javascript:;">牙科医院</a></li>
    <li class="hospital-type"><a href="javascript:;">男科医院</a></li>
    <li class="hospital-type"><a href="javascript:;">妇幼医院</a></li>
    <li class="hospital-type"><a href="javascript:;">中医院</a></li>
    <li>
      <ul class="hospital-categories">
        <li><a href="javascript:;">全部医院</a></li>
        <li><a href="javascript:;">三级甲等</a></li>
        <li><a href="javascript:;">三级乙等</a></li>
        <li><a href="javascript:;">三级合格</a></li>
        <li><a href="javascript:;">二级甲等</a></li>
        <li><a href="javascript:;">二级乙等</a></li>
        <li><a href="javascript:;">二级合格</a></li>
        <li><a href="javascript:;">一级甲等</a></li>
      </ul>
    </li>
  </ul>

  <ul class="list-unstyled detail-panel others-conditions">
    <li>
      手机挂号
      <%= image_tag "static_pages/filter_slider_normal.png", class: "toggle uncheck" %>
      <%= image_tag "static_pages/filter_slider_pressed.png", class: "toggle check" %>
    </li>
    <li>
      <p>当前主题精选</p>
      <ul class="list-unstyled subject-list">
        <li><button class="btn btn-default">不限</button> </li>
        <li><button class="btn btn-default">医保定点医院</button></li>
        <li><button class="btn btn-default">网上挂号/咨询</button></li>
        <li><button class="btn btn-default">手机挂号/咨询</button></li>
        <li><button class="btn btn-default">电话预约/咨询</button></li>
      </ul>
    </li>
    <li>
      <div>
        <span class="reset">重置</span>
        <span class="done">完成</span>
      </div>
    </li>
  </ul>
</div>

<script>
  $(function() {
    $(".filter-type li").on("click", function(event){
      if($(this).hasClass("active")){
        $(this).removeClass("active");
        $("." + $(this).data("panel")).hide();
      } else {
        $(".type-item").removeClass("active");
        $(".detail-panel").hide();
        $(this).addClass("active");
        $("." + $(this).data("panel")).show();
      }
    });
    $(".hospital-type").on("click", function(event){
      $(".hospital-type").removeClass("active");
      $(this).addClass("active");
    });
    $(".others-conditions .toggle").click(function(){
      $(this).hide();
      $(this).siblings().show();
    });
    $(".subject-list li").on("click",function(event){
      if($(this).hasClass("active")){
        $(this).removeClass("active");
      } else {
        $(this).addClass("active");
      }
    });
  });
</script>
