<div class="app-header">
  <nav class="navbar navbar-default custom-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="javascript:;">
          <%= image_tag "users/title_icon_back_normal.png" %>
        </a>
        <a href="#">全部类别</a>
      </div>
    </div>
  </nav>
</div>

<div class="all-categories">
  <div class="left">
    <div class="left-category hospital-categories-title active" data-class="hospital-categories-wrapper">
      <p>医院大全</p>
    </div>
    <div class="left-category disease-categories-title" data-class="disease-categories-wrapper">
      <p>疾病查询</p>
    </div>
    <div class="left-category doctor-categories-title" data-class="doctor-categories-wrapper">
      <p>找医生</p>
    </div>
    <div class="left-category drugstore-categories-title" data-class="drugstore-categories-wrapper">
      <p>身边药房</p>
    </div>
    <div class="left-category drug-categories-title" data-class="drug-categories-wrapper">
      <p>药品团购</p>
    </div>
    <div class="left-category treatment-categories-title" data-class="treatment-categories-wrapper">
      <p>医疗团购</p>
    </div>
    <div class="left-category preferential-categories-title" data-class="preferential-categories-wrapper">
      <p>最新优惠</p>
    </div>
  </div>

  <div class="right">

    <div class="wrapper hot-categories-wrapper">
      <ul class="hot-categories">
        <li class="list-unstyled classification-item">
          <a href="#"></a>
        </li>
      </ul>
    </div>

    <div class="wrapper hospital-categories-wrapper">
      <ul class="hospital-categories">
        <% @hospital_categories.each do |hospital_category| %>
          <li class="list-unstyled parent-item classification-item">
            <a href="#"><%= hospital_category.name %></a>
            <ul class="child-category">
              <% hospital_category.children.each do |category| %>
                <li class="list-unstyled classification-item">
                  <a href="/hospitals?category_name=<%= category.name %>"><%= category.name %></a>
                </li>
              <% end %>
            </ul>
            <br>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="wrapper disease-categories-wrapper">
      <ul class="disease-categories">
        <% @disease_categories.each do |disease_category| %>
          <li class="list-unstyled parent-item classification-item">
            <a href="#"><%= disease_category.name %></a>
            <ul class="child-category">
              <% disease_category.children.each do |category| %>
                <li class="list-unstyled classification-item">
                  <a href="/diseases?department_id=<%= category.id.to_s %>"><%= category.name %></a>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="wrapper doctor-categories-wrapper">
      <ul class="doctor-categories">
        <% @doctor_categories.each do |doctor_category| %>
          <li class="list-unstyled parent-item classification-item">
            <a href="#"><%= doctor_category.name %></a>
            <ul class="child-category">
              <% doctor_category.children.each do |category| %>
                <li class="list-unstyled classification-item">
                  <a href="/doctors?department_id=<%= category.id.to_s %>"><%= category.name %></a>
                </li>
              <% end %>
            </ul>
            <br>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="wrapper drugstore-categories-wrapper">
      <ul class="drugstore-categories">
        <li class="list-unstyled classification-item">
          <p><a href="/drug_stores?sort_type=neighbour">身边药房</a></p>
        </li>
      </ul>
    </div>

    <div class="wrapper drug-categories-wrapper">
      <ul class="drug-categories">
        <li class="list-unstyled classification-item">
        </li>
      </ul>
    </div>

    <div class="wrapper treatment-categories-wrapper">
      <ul class="treatment-categories">
          <% @buffets.each do |buffet|%>
            <li class="list-unstyled classification-item">
              <p><a href="<%= buffet[:link] %>"><%= buffet[:name] %></a></p>
            </li>
          <% end %>
      </ul>
    </div>

    <div class="wrapper preferential-categories-wrapper">
      <ul class="preferential-categories">
        <li class="list-unstyled classification-item">
          <a href="#"></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $(".left-category").on("click", function(){
      $(".left-category").removeClass("active");
      $(this).addClass("active");
      $(".wrapper").hide();
      $(".child-category").hide();
      $("." + $(this).data("class")).show();
    });

    $(".parent-item").on("click", function(){
      $(".child-category").hide();
      $(".parent-item").removeClass("active")
      $(this).addClass("active");
      $(this).find(".child-category").show();
    });
  })
</script>

