<%= render "/frontend/common/nav", { title: "养老精选" } %>

<%= render "filter" %>

<div class="nursing-room-list-content">
  <ul class="list-unstyled nursing-room-list">
    <% @nursing_rooms.each do |nursing_room| %>
      <li class="nursing-room-item">
        <a href="<%= frontend_nursing_room_path(nursing_room) %>" class="item-body">
          <img src="<%= fixed_image_url(nursing_room) %>" class="nursing-room-avatar" alt=""/>
          <div class="nursing-room-info">
            <div class="title"><%= nursing_room.name %></div>
            <p class="grade">
              <% nursing_room.star.times do |s| %>
                <%= image_tag "static_pages/icon_star_selected.png", class: "star" %>
              <% end %>
              <%= nursing_room.star %>分
            </p>
            <p class="bed-count">床位： <%= nursing_room.bed %>张</p>
            <p class="target">收住对象： <%= nursing_room.target %></p>
            <p>收费标准： <span class="price">￥<%= nursing_room.price %>/月</span></p>
            <p class="peculiarity">服务特色 <%= nursing_room.service %></p>
          </div>
        </a>
        <div class="item-footer">
          <ul>
            <li>
              <input type="checkbox" disabled <%= "checked" if nursing_room.is_public %> >公办
            </li>
            <li>
              <input type="checkbox" disabled <%= "checked" if  nursing_room.is_public %>> 民办
            </li>
            <li>
              <input type="checkbox" disabled <%= "checked" if  nursing_room.is_apartment %> >养老公寓
            </li>
            <li>
              <input type="checkbox" disabled <%= "checked" if  nursing_room.is_apartment %> >养老院
            </li>
          </ul>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="spinner"></div>
  <%#= paginate @nursing_rooms %>
</div>

<script type="text/javascript">
  var page = 2;
  var stop = false;
  $(window).scroll(function () {
    if($(document).height() <= ($(window).scrollTop() + $(window).height()) + 60) {
      if(stop == false){
        stop = true;
        $(".spinner").show();
        var search = window.location.search;
        if(search){
          url = "/nursing_rooms" + search + "&page=" + page;
        } else {
          url = "/nursing_rooms?page=" + page;
        }
        $.get(url, function(data){
          $html = $(data).find(".nursing-room-list").html();
          $(".nursing-room-list").append($html);
          page = page + 1;
          stop =false;
          $(".spinner").hide();
        });
      }
    }
  });
</script>
