<div class="app-header">
  <nav class="navbar navbar-default custom-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#">
          <%= image_tag "users/title_icon_back_normal.png" %>
        </a>
        <a href="#" class="page-title">私人订制健康医疗资讯推送</a>
      </div>
    </div>
  </nav>
</div>

<div class="person-customs-content">
  <div class="left categories">
    <div class="category-title custom-news active"data-content="information-subscribe-categories">
      <p>健康医疗资讯</p>
    </div>
    <div class="category-title custom-push" data-content="nformation-push-categories">
      <p>精准疾病咨询</p>
      <p>推送</p>
    </div>
    <div class="category-title custom-requirement" data-content="question">
      <p>提出医疗健康</p>
      <p>服务需求</p>
    </div>
  </div>

  <div class="right category-detail">
    <div class="information-subscribe-categories right-content">
      <ul class="subscribe-list list-unstyled">
        <% @information_categories.each do |information_category| %>
        <li class="subscribe-item" data-id="<%=information_category.id  %>">
          <%= image_tag "frontend/person_customs/#{ information_category.name }.png" %>
          <p><%= information_category.name %></p>
          <div class="subscribe-panel panel-<%=information_category.id  %>">
            <div class="list-header">
              <span class="subscribe-title">
                <%= information_category.name %> 资讯订阅
              </span>
              <span class="check-all">全选</span>
            </div>
            <ul class="list-unstyled list-body">
              <% information_category.children.each do |category| %>
                <li class="category-children">
                  <input type="checkbox"
                    name="category_name"
                    value="<%= category.id.to_s %>"
                    <%= @information_category_ids.include?(category.id) ? "" : "checked" %> />
                  <span class="category-name">
                    <%= category.name %>
                  </span>
                </li>
              <% end %>
            </ul>
            <div class="list-footer">
              <a href="javascript:;" class="cancel">取消</a>
              <a href="#" id="submit">确认订阅</a>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>

    <div class="information-push-categories right-content">
      <% if @information_categories.empty? %>
        暂无订阅<a href="<%= frontend_person_customs_path %>">去订阅相关健康资讯</a>
      <% end %>
      <% @information_categories.each do |information_category| %>
        <ul class="list-unstyled push-list">
          <% information_category.information.each do |information| %>
            <li class="push-item">
              <a href="/information/<%= information.id.to_s %>" class="title">
                【<%= information_category.name %>】
                <%= information.title %>
              </a>
              <div class="publish-time">
                <%= information.created_at %>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
      <div >
        <a href="#">加载更多...</a>
      </div>
    </div>

    <div class="question right-content">
      <ul class="question-list list-unstyled">
        <% @questions.each do |question| %>
          <li class="question-item">
            <a href="<%= frontend_question_path(question) %>" class="title"><%= question.content.slice(0,20) %>
            </a>
            <div class="publish-time">
              发布时间：<%= question.created_at.strftime("%F %T")%>
            </div>
            <div class="question-tag <%= question.answer.present? ? 'answered-tag' : 'waiting-tag' %>">
              <% if question.answer.present? %>
                已答复
              <% else %>
                待答复
              <% end %>
            </div>
          <li>
        <% end %>
        <li class="question-item">
          <a href="#" class="title">提出医疗健康服务需求提出医疗健康服务需求
          </a>
          <div class="publish-time">
            发布时间：2016-04-02
          </div>
          <div class="question-tag badge answered-tag">
            已答复
          </div>
        <li>
          <li class="question-item">
          <a href="#" class="title">提出医疗健康服务需求提出医疗健康服务需求
          </a>
          <div class="publish-time">
            发布时间：2016-04-02
          </div>
          <div class="question-tag badge waiting-tag">
            待答复
          </div>
        <li>
      </ul>
       <a class="publish-requirement" href="<%= new_frontend_question_path %>"> 发布需求</a>
    </div>
  </div>
</div>

<div id="mask"></div>

<script type="text/javascript">
  $(".category-title").click(function(){
    $(".category-title").removeClass("active");
    $(".right-content").hide();
    $(this).addClass("active");
    $("." + $(this).data("content")).show();
  });

  $(".subscribe-item").click(function(){
    var categoryId = $(this).data("id");
    $("#mask").show();
    $(".panel-" + categoryId).show();
  });

  $(".cancel").click(function(){
    $("#mask").hide();
    $(".subscribe-panel").hide();
    return false;
  });

  $("#mask").click(function(){
    $("#mask").hide();
    $(".subscribe-panel").hide();
  })

  $(".check-all").click(function(){
    $(this).parents(".subscribe-panel").find(".list-body input").prop('checked', true);
  });

  $("#submit").click(function(data){
    var category_name_ids = [];
    var all_category_name_ids = [];

    $("input[name='category_name']").each(function () {
      all_category_name_ids.push(this.value);
    });

    $("input[name='category_name']:checked").each(function () {
      category_name_ids.push(this.value);
    });

    $.post('/subscriptions', {
      all_category_name_ids: all_category_name_ids,
      category_name_ids: category_name_ids
    },function(data){
      console.log(data);
    })
  });

</script>

