<div id="main-index">
  <div class="ads-section">
    <div id="adsCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#adsCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#adsCarousel" data-slide-to="1"></li>
        <li data-target="#adsCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <% @banners.each_with_index do |banner,index| %>
          <a href="<%= banner.link %>">
            <div class="item <%= index == 0 ? "active" : "" %>">
              <img class="slider-picture" src="<%= banner.image_url %>">
            </div>
          </a>
        <% end %>
      </div>
    </div>
    <div class="tools">
      <div class="position">
        位置
        <%= image_tag "frontend/main/top_position_up.png" %>
      </div>
      <input type="text" class="search-input" placeholder="请输入要搜索的内容" />
      <%= image_tag "frontend/main/search_icon_magnifier.png", class: "search-icon" %>
      <a href="/questions/new" class="publish-requriements">
        <%= image_tag "frontend/main/top_button_release_nor.png" %>
      </a>
    </div>
  </div>

  <div class="accurate-search-section">
    <div class="section-title"><span></span>精确查询</div>
    <div id="queriesCarousel" class="carousel slide section-content" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#queriesCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#queriesCarousel" data-slide-to="1"></li>
        <li data-target="#queriesCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <% @categories.each_with_index do |category_obj, index| %>
          <div class="item <%= index == 0 ? "active" : "" %>">
            <ul class="list-unstyled list-inline accurate-search-list">
              <% category_obj.each do |category| %>
                <li class="accurate-search-item">
                  <a href="<%= category.link %>">
                    <%= image_tag category.image_url, class: "category-icon" %>
                    <p><%= category.title %></p>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="health-headlines-section">
    <div class="section-title">
      <span></span>
      健康头条
      <div class="check-more pull-right">
        更多 <%= image_tag "frontend/more_icon.png" %>
      </div>
    </div>
    <div class="section-content">
      <ul class="list-unstyled list-inline health-headlines-list">
        <% @health_information.each do |information| %>
          <li class="health-headlines-item">
            <a href="#">
              <%= image_tag information.image_url, class: "health-headlines-image" %>
            </a>
          </li>
        <% end %>
      </ul>
      <div id="healthHeadlinesCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#healthHeadlinesCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#healthHeadlinesCarousel" data-slide-to="1"></li>
          <li data-target="#healthHeadlinesCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <% @import_drugs.each_with_index do |drug, index| %>
            <div class="item <%= index == 0 ? "active" : "" %>">
              <%= image_tag fixed_image_url(drug) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="activities-section">
    <ul class="list-unstyled list-inline activities-list section-content">
      <% @hot_actions.each do |action| %>
        <li class="activities-item">
          <a href="#">
            <div class="activity-title-wrapper">
              <div class="title"><%= action.title %></div>
              <p class="subtitle"><%= action.summary %></p>
            </div>
            <%= image_tag action.image_url, class: "pull-right activity-flag" %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="guess-section">
    <div class="section-title"><span></span>为你推荐</div>
    <ul class="list-unstyled guess-list">
      <% @recommendations.each do |recommendation| %>
        <% case recommendation.recommendationable_type %>
        <% when 'Hospital' %>
          <%= render partial: 'frontend/main/shared/hospital', locals: { recommendation: recommendation } %>
        <% when 'Doctor'%>
          <%= render partial: 'frontend/main/shared/doctor' %>
        <% when 'other' %>
        <% end %>
      <% end %>
      <!-- <li class="guess-item">
        <img src="http://lorempixel.com/105/105/animals/1" alt=""/>
        <div class="content">
          <div class="title">安徽合肥治疗白癜风专科医院</div>
          <p class="grade">****** 5分</p>
          <p class="distance">距离： 1.0千米</p>
          <p class="peculiarity">特色科室： 皮肤科</p>
          <p class="tel">电话： 0551-654922</p>
        </div>
      </li>
      <li class="guess-item">
        <img src="http://lorempixel.com/105/105/animals/1" alt=""/>
        <div class="content">
          <div class="title">安徽合肥治疗白癜风专科医院</div>
          <p class="grade">****** 5分</p>
          <p class="distance">距离： 1.0千米</p>
          <p class="peculiarity">特色科室： 皮肤科</p>
          <p class="tel">电话： 0551-654922</p>
        </div>
      </li> -->
    </ul>
  </div>
</div>
<script type="text/javascript">
  $(".search-input").focus(function(){
    window.location.href = '/searches';
  })
</script>