<%= render "/frontend/common/nav", { title: "保险团购" } %>

<%= render "filter" %>

<div class="insurance-list-content">
  <ul class="list-unstyled insurance-list">
    <% @insurances.each do |insurance| %>
      <li class="insurance-item">
        <a href="<%= frontend_insurance_path(insurance) %>">
          <img src="<%= fixed_image_url(insurance) %>" class="insurance-avatar" alt=""/>
          <div class="insurance-info">
            <div class="title"><%= insurance.name %></div>
            <p class="expiry-date">保险期限：<span><%= insurance.expiry_date %></span></p>
            <p>年龄：<%= insurance.age %></p>
            <p class="charateristic"><%= insurance.charateristic %></p>
            <p class="price">￥<%= insurance.price %></p>

            <p class="sales-volume">累计销量：0</p>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
  <div class="spinner"></div>
  <%#= paginate @insurances %>
</div>

<script type="text/javascript">
  var page = 2;
  var stop = false;
  $(window).scroll(function () {
    if($(document).height() <= ($(window).scrollTop() + $(window).height()) + 60) {
      if(stop == false){
        stop = true;
        $(".spinner").show();
        var search = window.location.search;
        if(search){
          url = "/insurances" + search + "&page=" + page;
        } else {
          url = "/insurances?page=" + page;
        }
        $.get(url, function(data){
          $html = $(data).find(".insurance-list").html();
          $(".insurance-list").append($html);
          page = page + 1;
          stop =false;
          $(".spinner").hide();
        });
      }
    }
  });
</script>
