<div class="app-header">
  <nav class="navbar navbar-default custom-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/">
          <%= image_tag "users/title_icon_back_normal.png" %>
        </a>
        <a href="#" >疾病保险</a>
      </div>
    </div>
  </nav>
</div>

<%= render "filter" %>

<div class="insurance-list-content">
  <ul class="list-unstyled insurance-list">
    <% @insurances.each do |insurance| %>
      <li class="insurance-item">
        <a href="<%= frontend_insurance_path(insurance) %>">
          <img src="<%= fixed_image_url(insurance) %>" class="insurance-avatar" alt=""/>
          <div class="insurance-info">
            <div class="title"><%= insurance.name %></div>
            <p class="expiry-date">保险期限：<span><%= insurance.expiry_date %></span></p>
            <p>年龄：<%= insurance.age %></p>
            <p class="charateristic"><%= insurance.charateristic %></p>
            <p class="price">￥<%= insurance.price %></p>

            <p class="sales-volume">累计销量：0</p>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
  <%= paginate @insurances %>
</div>
