<%= render "filter" %>

<% @insurances.each do |insurance| %>
  <a href="<%= frontend_insurance_path(insurance) %>" class="item-body">
  <img src="<%= fixed_image_url(insurance) %>" alt="" width="100px"/>
  <%= insurance.name %>
  <br>
  保险期限：<%= insurance.expiry_date %>
  <br />
  年龄：<%= insurance.age %>
  <br />
  <%= insurance.charateristic %>
  <br />
  ￥<%= insurance.price %>
  累计销量：0
  <br />
  </a>
  <hr >
<% end %>

<%= paginate @insurances %>
<br /><br /><br /><br /><br />