<%= render "/frontend/common/nav", { title: @disease.name } %>

<div class="diseases-wrapper">
    <div class="diseases-panel">
        <div class="title"><%= @disease.name %></div>
        <div class="body">
            <img class="etiology-image" src="<%= fixed_image_url(@disease) %>">
            <span class="etiology-description">
                <%= @disease.description %>
            </span>
        </div>
    </div>
    <div class="diseases-panel">
        <div class="title">病因</div>
        <div class="body">
            <%= @disease.etiology %>
        </div>
    </div>
    <div class="diseases-panel">
        <div class="title">治疗</div>
        <div class="body">
            <%= @disease.treatent %>
        </div>
    </div>
    <div class="diseases-panel">
        <div class="title">预防</div>
        <div class="body">
            <%= @disease.prevention %>
        </div>
    </div>
    <div class="diseases-panel">
        <div class="title">饮食</div>
        <div class="body">
            <%= @disease.diet %>
        </div>
    </div>
    <div class="diseases-panel">
        <div class="title">疾病</div>
        <div class="body">
            <%= @disease.symptom %>
        </div>
    </div>
</div>