<%= render "/frontend/common/nav", { title: @disease.name } %>

<div class="diseases-wrapper">
    <div class="diseases-panel">
        <div class="title">
            <span class="icon cricle"></span>
            <%= @disease.name %>
        </div>
        <div class="body" data-line-clamp="3" style="-webkit-line-clamp: 3">
            <img class="etiology-image" src="<%= fixed_image_url(@disease) %>">
            <span class="etiology-description">
                <%= raw @disease.description %>
            </span>
        </div>
    </div>
    <div class="diseases-panel">
        <div class="title">
            <%= image_tag "frontend/disease/list_icon_reason.png", { :dragable => false , :tabindex => -1} %>
            病因
        </div>
        <div class="body">
            <%= raw @disease.etiology %>
        </div>
    </div>
    <div class="diseases-panel">
        <div class="title">
            <%= image_tag "frontend/disease/list_icon_treatment.png", { :dragable => false , :tabindex => -1} %>
            治疗
        </div>
        <div class="body">
            <%= raw @disease.treatent %>
        </div>
    </div>
    <div class="diseases-panel">
        <div class="title">
            <%= image_tag "frontend/disease/list_icon_prevention.png", { :dragable => false , :tabindex => -1} %>
            预防
        </div>
        <div class="body">
            <%= raw @disease.prevention %>
        </div>
    </div>
    <div class="diseases-panel">
        <div class="title">
            <%= image_tag "frontend/disease/list_icon_diet.png", { :dragable => false , :tabindex => -1} %>
            饮食
        </div>
        <div class="body">
            <%= raw @disease.diet %>
        </div>
    </div>
    <div class="diseases-panel">
        <div class="title">
            <%= image_tag "frontend/disease/list_icon_disease.png", { :dragable => false , :tabindex => -1} %>
            疾病
        </div>
        <div class="body">
            <%= raw @disease.symptom %>
        </div>
    </div>
</div>

<script type="text/javascript">

(function($){


    (function buildPanelMore(argument) {
        var $targets = $(".diseases-panel");
        $.each($targets, function(index, val) {
            var $target = $(val);
            var text = $target.find('.body').text();
            if(40 < text.length) {
                var more = $('<a class="more"><span class="glyphicon glyphicon-menu-down"></span></a>');
                $target.append(more);
                more.on('click', function() {
                    var $body = $target.find('.body');
                    var value = $body.css("-webkit-line-clamp");
                    var  line = $body.data('line-clamp');
                    line = line | 2;
                    if(value === 'none') {
                        more.removeClass('hidden');
                        $body.css("-webkit-line-clamp", String(line));
                    } else {
                        more.addClass('hidden');
                        $body.css("-webkit-line-clamp", "initial");
                    }
                    return false;
                });
            }
        });
    })();

})($);


</script>