<%= render "/frontend/common/nav", { title: "精准体检", is_list: true } %>

<%= render "filter" %>

<div class="examination-list-content">
  <ul class="list-unstyled examination-list">
    <% @examinations.each do |examination| %>
      <li class="examination-item">
        <a href="<%= frontend_examination_path(examination) %>" class="item-body">
          <img src="<%= fixed_image_url(examination) %>" class="examination-avatar" alt=""/>
          <div class="examination-info">
            <div class="title"><%= examination.name %></div>
            <p class="grade">
              <% examination.star.times do |s| %>
                <%= image_tag "static_pages/icon_star_selected.png", class: "star" %>
              <% end %>
              <%= examination.star %>分
            </p>
            <p class="applicable"><%= examination.applicable %></p>
            <p class="price">￥<%= examination.price %></p>
            <div class="statistics">
              <p><%= examination.comments.count %> 人评价</p>
              <p><%= examination.commodities.count %> 人购买</p>
            </div>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
  <div class="spinner"></div>
  <%#= paginate @examinations %>
</div>

<script type="text/javascript">
  var page = 2;
  var stop = false;
  $(window).scroll(function () {
    if($(document).height() <= ($(window).scrollTop() + $(window).height()) + 60) {
      if(stop == false){
        stop = true;
        $(".spinner").show();
        var search = window.location.search;
        if(search){
          url = "/examinations" + search + "&page=" + page;
        } else {
          url = "/examinations?page=" + page;
        }
        $.get(url, function(data){
          $html = $(data).find(".examination-list").html();
          $(".examination-list").append($html);
          page = page + 1;
          stop =false;
          $(".spinner").hide();
        });
      }
    }
  });
</script>
