<div class="app-header">
  <nav class="navbar navbar-default custom-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#">
          <%= image_tag "users/title_icon_back_normal.png" %>
        </a>
        <a href="#" class="page-title"><%= @examination.name %></a>
      </div>
    </div>
  </nav>
</div>

<div class="examination-detail page-detail">
  <div class="examination-info page-info">
    <div class="examination-cover page-cover">
      <img src="<%= fixed_image_url(@examination) %>", width="200px">
    </div>
    <p class="examination-name page-name"><%= @examination.name %></p>
    </p>
  </div>

  <div class="examination-comments page-comments">
    <p class="comments-header">
      <span>
        <% @examination.star.times do |s| %>
          <%= image_tag "static_pages/icon_star_selected.png", class: "star" %>
        <% end %>
        <%= @examination.star %>分
      </span>
      <span class="pull-right"><%= @examination.comments.size%>人已经点评</span>
    </p>
    <% if @comment %>
      <ul class="comment-list list-unstyled">
        <li class="comment-item">
          <div class="user-info">
            <div class="comment-user-name"><%= @comment.user.try(:nickname) %></div>
            <div class="comment-time"><%= @comment.created_at.strftime("%F") %></div>
          </div>
          <div class="comment-rate pull-right">
            <% @comment.rating.times do |s| %>
              <%= image_tag "static_pages/icon_star_selected.png", class: "star" %>
            <% end %>
          </div>
          <div class="comment-content"><%= @comment.content %></div>
        </li>
      </ul>
    <% end %>
    <div class="check-all-comments">
      <a href="<%= frontend_examination_comments_path(@examination) %>">查看全部评价</a>
    </div>
  </div>

  <div class="comment-edit">
    <a href="<%= new_frontend_examination_comment_path(@examination) %>">我要评价</a>
  </div>

  <div class="examination-connect page-connect">
    <h3>商家位置</h3>
    <div class="position-detail">
      <h5><%= @examination.medical.name %></h5>
      <p>联系电话<%= @examination.medical.telephone %></p>
      <p>地址：<%= @examination.medical.address %>
        <a class="pull-right" href="<%= frontend_maps_path(location: @examination.medical.location) %>">到这去</a>
      </p>
      <div class="map">
        <div id="container2"></div>
      </div>
      <div class="operating-button">
        <% if @examination.medical.telephone.present? %>
          <a href="tel:<%= @examination.medical.telephone %>15201991025">拨打电话</a>
          <a href="#">查询/挂号</a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var lng1 = parseFloat("<%= @examination.medical.location.split(',')[1] %>");
  var lat1 = parseFloat("<%= @examination.medical.location.split(',')[0] %>");
  console.log("lng1= "+lng1);
  console.log("lat1= "+lat1);
  var map = new AMap.Map('container2', {
      resizeEnable: true,
      zoom:14,
      center: [lng1, lat1],
      isHotspot: true
  });

  // 标记
  var marker = new AMap.Marker({
    position: map.getCenter()
  });
  marker.setMap(map);

</script>

<style type="text/css">
  #container2 {
    width: 100%;
    margin-top: 60px;
    height: 350px;
    bottom: 50px;
  }
</style>
