<div class="app-header">
  <nav class="navbar navbar-default custom-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#">
          <%= image_tag "users/title_icon_back_normal.png" %>
        </a>
        <a href="<%= new_frontend_users_session_path %>" class="member-login">登录</a>
      </div>
    </div>
  </nav>
</div>
<div class="register-content content">
  <%= simple_form_for(@user, url: '/users/registrations/email', :html=> { class: "register-with-email-form"}, method: 'post')  do |f| %>
    <% if f.error_notification %>
      <div class="alert alert-warning" role="alert"><%= f.error_notification %></div>
    <% end %>
    <% if flash[:notice] %>
      <div class="alert alert-info" role="alert"><%= flash[:notice] %></div>
    <% end %>
    <%= f.input :email, placeholder: '请输入你的邮箱', label: false %>
    <%= f.input :password, placeholder: '请输入你的密码', label: false %>
    <%= f.input :password_confirmation, placeholder: '再次输入你的密码', label: false %>
    <div class="check-item">
      <input type="checkbox" ><span>我同意使用条款</span>
    </div>

    <%= f.button :submit, '验证邮箱', class: "btn btn-default full-button"%>
  <% end %>
</div>
