<%= render "/frontend/common/nav", { title: "体检中心", is_list: true } %>

<%= render "filter" %>

<div class="medical-list-content">
  <ul class="list-unstyled medical-list">
    <% @medicals.each do |medical| %>
      <li class="medical-item">
        <a href="<%= frontend_medical_path(medical) %>">
          <img src="<%= fixed_image_url(medical) %>" class="medical-avatar" alt=""/>
          <div class="medical-info">
            <div class="title"><%= medical.name %></div>
            <p class="grade">
              <% medical.star.times do |s| %>
                <%= image_tag "static_pages/icon_star_selected.png", class: "start" %>
              <% end %>
              <%= medical.star %>分
            </p>
            <div class="statistics">
              <p><%= medical.comments.count %> 人评价</p>
              <p><%= medical.commodities.count %> 人购买</p>
            </div>
            <p class="price">￥<%= medical.price %></p>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
  <div class="spinner"></div>
  <%#= paginate @medicals %>
</div>

<script type="text/javascript">
  var page = 2;
  var stop = false;
  $(window).scroll(function () {
    if($(document).height() <= ($(window).scrollTop() + $(window).height()) + 60) {
      if(stop == false){
        stop = true;
        $(".spinner").show();
        var search = window.location.search;
        if(search){
          url = "/medicals" + search + "&page=" + page;
        } else {
          url = "/medicals?page=" + page;
        }
        $.get(url, function(data){
          $html = $(data).find(".medical-list").html();
          $(".medical-list").append($html);
          page = page + 1;
          stop =false;
          $(".spinner").hide();
        });
      }
    }
  });
</script>
