<div class="app-header">
  <nav class="navbar navbar-default custom-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/">
          <%= image_tag "users/title_icon_back_normal.png" %>
        </a>
        <a href="#" >保健品团购</a>
      </div>
    </div>
  </nav>
</div>

<%= render "filter" %>

<div class="drug-list-content">
  <ul class="list-unstyled drug-list">
    <% @drugs.each do |drug| %>
      <li class="drug-item">
        <a href="<%= frontend_import_drug_path(drug) %>">
          <img src="<%= fixed_image_url(drug) %>" class="drug-avatar" alt=""/>
          <div class="drug-info">
            <div class="title">
              <span class="drug-name"><%= drug.name %></span>
            </div>
            <p class="drug-spec">
              规格：<%= drug.spec %>
            </p>
            <p class="drug-price">￥<%= drug.price %></p>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
  <%= paginate @drugs %>
</div>
