<div class="app-header">
  <nav class="navbar navbar-default custom-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/">
          <%= image_tag "users/title_icon_back_normal.png" %>
        </a>
        <a href="#" >药品团购</a>
      </div>
    </div>
  </nav>
</div>

<div class="drug-list-content">
  <ul class="list-unstyled drug-list">
    <% @drugs.each do |drug| %>
      <li class="drug-item">
        <a href="<%= frontend_drug_path(drug) %>">
          <img src="<%= fixed_image_url(drug) %>" class="drug-avatar" alt=""/>
          <div class="drug-info">
            <div class="title">
              <span class="drug-name"><%= drug.name %></span>
            </div>
            <p class="drug-spec">
              规格：<%= drug.spec %>
            </p>
            <p class="drug-code">
              批号：<span><%= drug.code %></span>
            </p>
            <p class="drug-factory">厂家：<%= drug.manufactory_name %></p>
            <p class="drug-price">￥<%= drug.price %></p>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
  <div class="spinner"></div>
  <%#= paginate @drugs %>
</div>

<script type="text/javascript">
  var page = 2;
  var stop = false;
  $(window).scroll(function () {
    if($(document).height() <= ($(window).scrollTop() + $(window).height()) + 60) {
      if(stop == false){
        stop = true;
        $(".spinner").show();
        var search = window.location.search;
        if(search){
          url = "/drugs" + search + "&page=" + page;
        } else {
          url = "/drugs?page=" + page;
        }
        $.get(url, function(data){
          $html = $(data).find(".drug-list").html();
          $(".drug-list").append($html);
          page = page + 1;
          stop =false;
          $(".spinner").hide();
        });
      }
    }
  });
</script>
