<div class="app-header">
  <nav class="navbar navbar-default custom-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/">
          <%= image_tag "users/title_icon_back_normal.png" %>
        </a>
        <a href="#" >症状查询</a>
      </div>
    </div>
  </nav>
</div>

<%= render "filter" %>

<div class="symptom-list-content">
  <% ('A'...'Z').each do |i| %>
    <div class="letter"><%= i %></div>
    <ul class="symptom-list list-unstyled">
      <% @symptoms.where(english: "#{i}").order(index_array: :asc).limit(10).each do |s| %>
        <li class="symptom-item">
          <a href="symptoms/<%= s.id%>" data-id="<%= s.id %>" data-english="<%= i %>"><%= s.name %></a>
        </li>
      <% end %>
      <a href="#" class="js-load-data">加载更多</a>
    </ul>
  <% end %>
</div>

<script>
$(".js-load-data").on("click",function(event){
    var target;
    target = event.target || window.event.srcElement;
    var prev_node = $(target).prev('li').children().last();
    console.log(prev_node.html());
    var id = prev_node.attr('data-id');
    var english = prev_node.attr('data-english');
    if(id == undefined){
     var str = prev_node.html();
     str = str.replace(/\ +/g,"");
     str = str.split('data-id="')[1].split('"data-english="');
     id = str[0];
     english = str[1].split('">')[0]
    }
    $.ajax({
         type: 'get',
         url: '/symptoms/load',
         data: {id: id, english: english },
         success: function(data){
           prev_node.after(data);
         }
      });
    });
</script>
