<%= render "/frontend/common/nav", { title: @symptom.name } %>

<div class="symptom-detail">
  <div class="symptom-detail-list">
    <div class="symptom-detail-item">
      <div class="detail-title"><span></span>相关检查</div>
      <div class="detail-description"><%= @symptom.common_examination %></div>
    </div>
    <div class="symptom-detail-item">
      <div class="detail-title"><span></span>相关症状</div>
      <div class="detail-description"><%= @symptom.common_symptom %></div>
    </div>
    <div class="symptom-detail-item">
      <div class="detail-title"><span></span>相关药品</div>
      <div class="detail-description"><%= @symptom.common_drug %></div>
    </div>
    <div class="symptom-detail-item">
      <div class="detail-title"><span></span>相关疾病</div>
      <div class="detail-description"><%= @symptom.common_disease %></div>
    </div>

    <% @symptom.symptom_details.each do |detail| %>
      <div class="symptom-detail-item">
        <div class="detail-title"><span></span><%= detail.title %></div>
        <div class="detail-description"><%= detail.descripton %></div>
      </div>
    <% end %>
  </div>
</div>
