<div class="app-header">
  <nav class="navbar navbar-default custom-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/">
          <%= image_tag "users/title_icon_back_normal.png" %>
        </a>
        <a href="#" >精准<%= @hospital_category_parent_name %></a>
      </div>
    </div>
  </nav>
</div>

<%= render "filter" %>

<div class="drug-list-content">
  <ul class="list-unstyled drug-list">
    <% @buffets.each do |buffet| %>
      <li class="drug-item">
        <a href="<%= frontend_buffet_path(buffet) %>">
          <img src="<%= fixed_image_url(buffet) %>" class="drug-avatar" alt=""/>
        </a>
      </li>
      <li class="confinement-center-item">
        <a href="<%= frontend_buffet_path(buffet) %>">
          <img src="<%= fixed_image_url(buffet) %>" class="confinement-center-avatar" alt=""/>
          <div class="confinement-center-info">
            <div class="title"><%= buffet.name %></div>
            <p class="grade">
              <% buffet.star.times do |s| %>
                <%= image_tag "static_pages/icon_star_selected.png", class: "start" %>
              <% end %>
              <%= buffet.star %>分
            </p>
            <div class="statistics">
              <p><%= buffet.comments.count %> 人评价</p>
              <p><%= buffet.commodities.count %> 人购买</p>
            </div>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
  <%= paginate @buffets %>
</div>
