<%= render "/frontend/common/nav", { title: "精准" + @hospital_category_parent_name, is_list: true } %>

<%= render "filter" %>

<div class="buffet-list-content">
  <ul class="list-unstyled buffet-list">
    <% @buffets.each do |buffet| %>
      <li class="buffet-item">
        <a href="<%= frontend_buffet_path(buffet) %>" class="item-body">
          <% entity = buffet.image_url.present? ? buffet : buffet.hospital %>
          <img src="<%= fixed_image_url(entity) %>" class="buffet-avatar" alt=""/>
          <div class="buffet-info">
            <div class="title"><%= buffet.name %></div>
            <p class="grade">
              <% buffet.star.times do |s| %>
                <%= image_tag "static_pages/icon_star_selected.png", class: "star" %>
              <% end %>
              <%= buffet.star %>分
            </p>
            <p><%= buffet.hospital.name %></p>
            <p class="price">￥<%= buffet.price %></p>
            <div class="statistics">
              <p><%= buffet.comments.count %> 人评价</p>
              <p><%= buffet.click_count %> 人点击</p>
              <p><%= buffet.commodities.count %> 人购买</p>
            </div>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
  <div class="spinner"></div>
  <%#= paginate @buffets %>
</div>

<script type="text/javascript">
  var page = 2;
  var stop = false;
  $(window).scroll(function () {
    if($(document).height() <= ($(window).scrollTop() + $(window).height()) + 60) {
      if(stop == false){
        stop = true;
        $(".spinner").show();
        var search = window.location.search;
        if(search){
          url = "/buffets" + search + "&page=" + page;
        } else {
          url = "/buffets?page=" + page;
        }
        $.get(url, function(data){
          $html = $(data).find(".buffet-list").html();
          $(".buffet-list").append($html);
          page = page + 1;
          stop =false;
          $(".spinner").hide();
        });
      }
    }
  });
</script>
