<div class="news-show">
  <div class="information-image"><img src="<%= @information.image_url %>"></div>
  <h3><%= @information.title %></h3>
  <div><%= @information.created_at %>&nbsp;&nbsp;&nbsp;<%= @information.source %></div>
  <hr>
  <div class="information-content"><%= @information.content.html_safe %></div>

  <br>
</div>
