<div class="app-header">
  <nav class="navbar navbar-default custom-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#">
          <%= image_tag "users/title_icon_back_normal.png" %>
        </a>
        <a href="<%= new_frontend_users_session_path %>" class="member-login">登录</a>
      </div>
    </div>
  </nav>
</div>
<div class="content forget-password" >
  <%= simple_form_for(@user, url: '/users/passwords/email', method: 'post') do |f| %>
  <% if f.error_notification %>
    <div class="alert alert-warning" role="alert"><%= f.error_notification %></div>
  <% end %>
  <% if flash[:notice] %>
    <div class="alert alert-info" role="alert"><%= flash[:notice] %></div>
  <% end %>
    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true, placeholder: '请输入你的邮箱', label: false %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "找回密码", class: 'btn btn-default full-button' %>
    </div>
  <% end %>
</div>
